<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p>Libros</p>
Ingrese titulo: <input type="text" id="titulo" [(ngModel)]="tituloLibro">
<p>El nombre completo: {{tituloLibro}}</p>

<h4>Libros</h4>
<ul *ngFor="let libro of libros">
  <li>{{libro}}</li>
</ul>
<br>
<app-boton [label]="boton" (click)="addToArray()"></app-boton>
</body>

</html>
